.App{
    text-align: center;
}
.upper{
    height:200px;
    background-image:linear-gradient(to right,green,red,blue);
}
.lower{
    height: 200px;
    background-image:linear-gradient(to right,green,red,blue);
}
.bg{
    background-color:red;
    justify-content: center;
    align-items: center;
    flex:0 1 34rem;
}
.image{
    max-width: 36rem;
    max-height: 50rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

